


:root {
  /* ======== COLORS ======== */
  --web-background-color: #fff;

  --web-object-blue: #1C5CFF;
  --web-object-pink: #CF95FB;
  --web-object-peach: #FFEBEF;
  --web-object-yellow: #FCD53A;
  --web-object-dark-blue: #150B3D;

  /* ======== BUTTOM COLORS ======== */
  --web-buttom-white: #fff;
  --web-buttom-blue: #1C5CFF;
  --web-buttom-dark: #141414;

  --web-buttom-border: #7c7c7c;


  /* ======== TEXT COLORS ======== */
  --text-color-buttom: #313131;
  --text-color-details: #4F4F4F;





}

h1 {
  margin: 0;
  padding: 0;
}

button {
  width: 100%;

  border: 1px solid ;
  border-radius: 8px;
  border-color: var(--web-buttom-border);
  background-color: var(--web-buttom-white);

  padding: 10px 10px;

  text-align: center;
  text-decoration: none;

  color: var(--text-color-buttom);
}


.container { 
  max-width: 1340px;
  margin: 0 auto;
  /* background-color: red; */

}
